fastapi==0.103.2
SQLAlchemy==2.0.22
pydantic==2.4.2
pydantic-settings==2.0.3
asyncmy==0.2.8
python-jose==3.3.0
uvicorn[standard]
python-multipart==0.0.6
passlib==1.7.4
email-validator==2.1.0.post1
asgiref==3.7.2
aiomysql==0.2.0
bcrypt==4.0.1
